DATABASE_URL=postgres://user:password@url:port/schema
DATABASE_SSL_REJECT_UNAUTHORIZED=false
PAYLOAD_DATABASE_URL=postgres://user:password@old-payload-url:port/schema
PAYLOAD_DATABASE_SSL_REJECT_UNAUTHORIZED=false
PAYLOAD_S3_BASE_URL=https://stdev-kr.s3.ap-northeast-2.amazonaws.com
PAYLOAD_S3_SOURCE_BUCKET=stdev-kr
PAYLOAD_S3_TARGET_BUCKET=stdev-kr
AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY=example
AWS_SECRET_KEY=example
BETTER_AUTH_SECRET=replace-with-generated-secret
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=example.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=example

NEXT_PUBLIC_CHANNEL_PLUGIN_KEY=example
NEXT_PUBLIC_GTM_ID=GTM-example
NEXT_PUBLIC_GA_ID=G-example
