@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GothicA1-Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
}

body {
  @apply font-GothicA1;
}
