@charset "utf-8";

/*
 * Pretendard GOV - KRDS 기본 글꼴
 * 본 저작물은 행정안전부에서 공공누리 제1유형으로 개방한
 * '범정부 UI/UX 디자인시스템(KRDS)'의 글꼴을 이용하였습니다.
 * https://www.krds.go.kr
 */

@font-face {
  font-family: 'Pretendard GOV';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('/krds/fonts/PretendardGOV-Regular.subset.woff2') format('woff2'),
    url('/krds/fonts/PretendardGOV-Regular.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard GOV';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('/krds/fonts/PretendardGOV-Medium.subset.woff2') format('woff2'),
    url('/krds/fonts/PretendardGOV-Medium.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard GOV';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('/krds/fonts/PretendardGOV-Bold.subset.woff2') format('woff2'),
    url('/krds/fonts/PretendardGOV-Bold.subset.woff') format('woff');
}
